[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-multipart = "*"
uvicorn = "*"
gunicorn = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.12"
